version: "3.8"

volumes:
  redis_data:
  victoria:

services:
  # https://hub.docker.com/_/redis
  redis:
    image: mirror.gcr.io/redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  victoria:
    image: mirror.gcr.io/victoriametrics/victoria-metrics:v1.127.0-scratch
    ports:
      - "8428:8428"
    volumes:
      - victoria:/victoria-metrics-data

  broadcaster:
    build:
      context: ./
      dockerfile: ./Dockerfile_development
    volumes:
      - ./contrib/container.yaml:/etc/stocks_broadcaster.yaml:Z,U
